<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>간단한 지도 표시하기</title>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=o6w1qaagu0"></script>
</head>
<body>
<div id="map" style="width:100%;height:400px;"></div>
<div>
    <label for="latitude_rgeo">위도:</label>
    <input type="text" id="latitude_rgeo" placeholder="위도 입력">
    <label for="longitude_rgeo">경도:</label>
    <input type="text" id="longitude_rgeo" placeholder="경도 입력">
    <button onclick="reverseGeocode()">역지오코딩</button>
</div>
<div>
    <label for="roadAddr_geo">도로명 주소</label>
    <input type="text" id="roadAddr_geo" placeholder="도로명 주소 입력">
    <button onclick="geocode()">지오코딩</button>
</div>
<div>
    <label for="stdRoadAddr_distance">시작 주소</label>
    <input type="text" id="stdRoadAddr_distance" placeholder="시작 도로명 주소 입력">
    <label for="tgRoadAddr_distance">도착 주소</label>
    <input type="text" id="tgRoadAddr_distance" placeholder="도착 도로명 주소 입력">
    <button onclick="distance()">거리 계산</button>
</div>
<div>
    <label for="stdRoadAddr_direction">시작 주소</label>
    <input type="text" id="stdRoadAddr_direction" placeholder="시작 도로명 주소 입력">
    <label for="tgRoadAddr_direction">도착 주소</label>
    <input type="text" id="tgRoadAddr_direction" placeholder="도착 도로명 주소 입력">
    <button onclick="direction()">경로 찾기</button>
</div>

<div>
    <h2>최근 생성된 Space 목록</h2>
    <ul>
        <!-- Spaces 컨트롤러에서 가져온 spaces 목록을 반복하여 표시 -->
        <li th:each="space : ${spaces}">
            <!-- 각 Space 객체의 정보 표시 -->
            <span th:text="${space.getRoadAddr()}"></span>
            <span>( 위도 : <span th:text="${space.getPoint().getX()}"></span></span>
            <span>경도 : <span th:text="${space.getPoint().getY()}"></span></span>
            <span>)</span>
            </li>
    </ul>
</div>

<script th:inline="javascript">

    window.onload = function () {
        if([[${message}]] != null) {
            alert([[${message}]])
        }
    }
    var latitude = [[${latitude}]]
    var longitude = [[${longitude}]]

    var mapOptions = {
        center: new naver.maps.LatLng(latitude, longitude),
        zoom: 15
    };
    var map = new naver.maps.Map('map', mapOptions);

    var markerOption = {
        position: new naver.maps.LatLng(latitude, longitude),
        map: map
    }
    var marker = new naver.maps.Marker(markerOption);

    function reverseGeocode() {
        var latitude = document.getElementById('latitude_rgeo').value;
        var longitude = document.getElementById('longitude_rgeo').value;

        if (latitude && longitude) {
            window.location.href = "/address/rg?latitude=" + latitude + "&longitude=" + longitude;
        } else {
            alert("위도와 경도를 입력하세요.");
        }
    }
    function geocode() {
        var roadAddr = document.getElementById('roadAddr_geo').value;

        if (roadAddr) {
            window.location.href = "/address/g?roadAddr=" + roadAddr;
        } else {
            alert("위도와 경도를 입력하세요.");
        }
    }
    function distance() {
        var stdRoadAddr = document.getElementById('stdRoadAddr_distance').value;
        var tgRoadAddr = document.getElementById('tgRoadAddr_distance').value;

        if (stdRoadAddr && tgRoadAddr) {
            window.location.href = "/address/d?stdRoadAddr=" + stdRoadAddr + "&tgRoadAddr=" + tgRoadAddr;
        } else {
            alert("위도와 경도를 입력하세요.");
        }
    }
    function direction() {
        var stdRoadAddr = document.getElementById('stdRoadAddr_direction').value;
        var tgRoadAddr = document.getElementById('tgRoadAddr_direction').value;

        if (stdRoadAddr && tgRoadAddr) {
            window.location.href = "/address/dr?stdRoadAddr=" + stdRoadAddr + "&tgRoadAddr=" + tgRoadAddr;
        } else {
            alert("위도와 경도를 입력하세요.");
        }
    }

</script>
</body>
</html>