<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>간단한 지도 표시하기</title>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=o6w1qaagu0"></script>
</head>
<body>
<div id="map" style="width:100%;height:400px;"></div>
<div>
    <label for="latitude">위도:</label>
    <input type="text" id="latitude" placeholder="위도를 입력하세요">
    <label for="longitude">경도:</label>
    <input type="text" id="longitude" placeholder="경도를 입력하세요">
    <button onclick="sendCoordinates()">입력</button>
    <button onclick="reverseGeocode()">역지오코딩</button>
</div>
<div>
    <label for="roadAddr">도로명주소</label>
    <input type="text" id="roadAddr" placeholder="도로명주소를 입력하세요">
    <button onclick="geocode()">지오코딩</button>
</div>

<script>
    var latitude = [[${latitude}]]
    var longitude = [[${longitude}]]

    var mapOptions = {
        center: new naver.maps.LatLng(latitude, longitude),
        zoom: 15
    };

    var map = new naver.maps.Map('map', mapOptions);

    function sendCoordinates() {
        var latitude = document.getElementById('latitude').value;
        var longitude = document.getElementById('longitude').value;

        if (latitude && longitude) {
            window.location.href = "?latitude=" + latitude + "&longitude=" + longitude;
        } else {
            alert("위도와 경도를 입력하세요.");
        }
    }
    function reverseGeocode() {
        var latitude = document.getElementById('latitude').value;
        var longitude = document.getElementById('longitude').value;

        if (latitude && longitude) {
            // 역지오코딩 버튼 클릭 시 '/address/rg' URL로 쿼리 파라미터 전송
            window.location.href = "/address/rg?latitude=" + latitude + "&longitude=" + longitude;
        } else {
            alert("위도와 경도를 입력하세요.");
        }
    }
    function geocode() {
        var roadAddr = document.getElementById('roadAddr').value;

        if (roadAddr) {
            // 지오코딩 버튼 클릭 시 '/address/g' URL로 쿼리 파라미터 전송
            window.location.href = "/address/g?roadAddr=" + roadAddr;
        } else {
            alert("위도와 경도를 입력하세요.");
        }
    }

</script>
</body>
</html>